<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hi</title>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0" nonce="XGeJZv3T"></script>
</head>
<body>
umar
<div class="fb-like" data-href="http://127.0.0.1:8000/blog/new/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
<div class="fb-comments" data-href="http://127.0.0.1:8000/blog/new/" data-width="" data-numposts="5"></div>

</body>
</html>